@model CrimeInvestigation.Models.Begstvo

@{
    ViewBag.Title = "Edit";
}

<br />
<br />
<div class="eden">

    <h2 style="text-align:center; color:red">Пријави новости за личноста @ViewBag.Ime @ViewBag.Prezime</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Ime)
            @Html.HiddenFor(model => model.Prezime)
            @Html.HiddenFor(model => model.Godini)
            @Html.HiddenFor(model => model.Slika)
            @Html.HiddenFor(model => model.Datum)



            <h1 style="text-align:center">
                <img alt="" id="image1" src="@Model.Slika" style="height:330px" width="360" />
            </h1>
            <br />

            <div class="form-group" style="margin-left:-185px">
                @Html.LabelFor(model => model.Mesto, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Mesto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Mesto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="margin-left:80px">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="Зачувај" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }


</div>