<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="img pull-left">
                    <a class="nb" href="index.html"><img src="https://upload.wikimedia.org/wikipedia/en/2/2d/Bradentoon_Police_patch.png" height="49px" width="50px" title="title" alt="additional title" /></a>
                </div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Дома", "Index", "Home")</li>
                    @if (User.IsInRole("Korisnik"))
                    {
                        <li>@Html.ActionLink("Пријави нов случај", "Create", "Cases")</li>
                    }
                  
                      
                    @if (User.IsInRole("Policaec"))
                    {
                        <li>@Html.ActionLink("Листа на случаи", "Index", "Cases")</li>
                    }
                        <li>@Html.ActionLink("Исчезнати лица", "Index", "Ischeznats")</li>
                        <li>@Html.ActionLink("Прогонство", "Index", "Begstvoes")</li>
                        <li>@Html.ActionLink("Жртви на насилство", "Zrtvi", "Home")</li>

                        <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                    </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
     
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
